#te {
    font-size: 20px;
    text-align: center;
    border: black solid 3px;
    background-color: #59ABEB;


}

#cal {
    font-size: 50px;
    text-align: center;
    background-color: #59ABEB;
    border: black solid 3px;



}

form {
    font-size: 40px;
    text-align: center;
    background-color: #59ABEB;
    border: black solid 3px;

}

input {

    font-size: 40px;
    text-align: center;
    border: black solid 3px;

}
#resultado{
    font-size: 63px;
    text-align: center;
    background-color: #59ABEB;
    border: black solid 3px;


}